### [Quiz_8] 2021, 2022, 2023년 3년간 대전, 대구, 부산, 광주, 원주의 5개 도시의 인구 수을 저장하는 데이터프레임 생성하기

    data = {'서울': [950, 945, 938], 
        '대전': [800, 790, 780],
        '부산': [920, 910, 900],
        '광주': [700, 690, 680],
        '원주': [300, 290, 250]
       }

In [10]:
import pandas as pd
from pandas import DataFrame

data = {'서울': [950, 945, 938], 
    '대전': [800, 790, 780],
    '부산': [920, 910, 900],
    '광주': [700, 690, 680],
    '원주': [300, 290, 250]
   }
frame = pd.DataFrame(data)
frame.index = ["2021", "2022", "2023"]
frame

       서울   대전   부산   광주   원주
2021  950  800  920  700  300
2022  945  790  910  690  290
2023  938  780  900  680  250