### [Quiz_1] 시리즈 obj4의 데이터에 1000을 더하시오

In [1]:
import pandas as pd
from pandas import Series

sdata = {"Ohio": 35000, "Texas": 35000, "Oregon": 16000, "Utah": 5000} #dict
states = ["California", "Ohio", "Oregon", "Texas"] 
obj4 = pd.Series(data = sdata, index = states)

print("변경 전")
print(obj4)
print()
print("변경 후")
obj4.add(1000)

변경 전
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         35000.0
dtype: float64

변경 후

California        NaN
Ohio          36000.0
Oregon        17000.0
Texas         36000.0
dtype: float64

### [Quiz_2] sample 데이터 내에 90, 89가 있는지 확인하시오

In [2]:
import pandas as pd
from pandas import Series

sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])

sample.isin([90, 89])

a     True
b     True
c    False
d    False
e     True
f    False
g    False
h    False
i    False
j     True
dtype: bool