### [Quiz_2] sample 데이터 내에 90, 89가 있는지 확인하시오

In [2]:
import pandas as pd
from pandas import Series

sample = Series(data=[89,90,78,65,90,100,78,55,40,90], index=['a','b','c','d','e','f','g','h','i','j'])

sample.isin([90, 89])

a     True
b     True
c    False
d    False
e     True
f    False
g    False
h    False
i    False
j     True
dtype: bool